extends layout/main

block variables
	- var title = "KAMAFLOW test"
	- var data = {titleBox:{mainHeader: 'Основной заголовок', headers:['Заголовок 1','Заголовок 2','Заголовок 3','Заголовок 4'],rows:[['Строка 1-1','Строка 1-2','Строка 1-3','Строка 1-4'],['Строка 2-1','Строка 2-2','Строка 2-3','Строка 2-4'],['Строка 3-1','Строка 3-2','Строка 3-3','Строка 3-4'],['Строка 4-1','Строка 4-2','Строка 4-3','Строка 4-4']]},sliderData:[{month:'Январь',tableBox:[['Янв 1-1','Янв 1-2','Янв 1-3','Янв 1-4'],['Янв 2-1','Янв 2-2','Янв 2-3','Янв 2-4'],['Янв 3-1','Янв 3-2','Янв 3-3','Янв 3-4'],['Янв 4-1','Янв 4-2','Янв 4-3','Янв 4-4']]},{month:'Февраль',tableBox:[['Фев 1-1','Фев 1-2','Фев 1-3','Фев 1-4'],['Фев 2-1','Фев 2-2','Фев 2-3','Фев 2-4'],['Фев 3-1','Фев 3-2','Фев 3-3','Фев 3-4'],['Фев 4-1','Фев 4-2','Фев 4-3','Фев 4-4']]}]}