// Colors
$white: #ffffff;
$black: #000000;
$semiblack: #272733;
$dark: rgba(16, 16, 29, 0.9);
$lightdark: #3D4050;
$blue: #43ABF0;
$darkblue: #3E9CDC;
$navy: #286690;
$gray: #BBBBBB;
$bordergray: #6F6D7B;
$btndark: #2A2B30;
// Sizes
$base-font-size: 16;
// Fonts
$primary-font: 'Lato', sans-serif;
// Padding
$text-black: $black;
$text-white: $white;
$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
// General
$menuItems: 5;
$stepsItems: 5;